form {

}
.input {
  position: relative;
  width:100%;
  max-width:400px;
  display:flex;
  align-items: baseline;
  flex-wrap:wrap;
  justify-content: space-between;
}
label {
  color:$white;
  margin-right:1rem;
  font-size:1.2rem;
  text-transform: uppercase;
}
input {
  height:40px;
  border:none;
  min-width:250px;
  margin-top:1.2rem;
  margin-bottom:2.4rem;
  padding:1rem .5rem;
  box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.5);
  &:focus {
    border:none;
    outline:none;
    box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.3);
  }
}
.error {
  border:2px solid $foppen-red;
  &:focus {
    border:2px solid $foppen-red;
  }
}
div.error-message {
  cursor:default;
  position: absolute;
  bottom: 1px;
  left: 10rem;
  background: $foppen-red;
  color:$white;
  padding: .6rem 1.3rem .6rem .6rem;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}
