doctype html
html
  head
    title Foppen
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel="stylesheet" href="/css/index.css")
  body
    div.container
     header.small-header
      img(src="https://killing.is-serious.business/bdeda6.png")
      nav.small-nav
        ul
         li
          a.menu-item-has-children(href="#") Our story
         li
          a(href="#") What we do
         li
          a(href="#") Our icons
         li
          a(href="#") Contact
         li
          a(href="#") Corporate
     section.section-content
       h1 Page title
       hr
       article.content
         p Mauris interdum odio vitae vehicula tempor. Donec non diam vitae eros pretium rhoncus. Duis lorem erat, tempus non cursus quis, congue quis dui. Curabitur sodales convallis lorem nec lobortis. Cras aliquet non nunc non eleifend. Integer nibh lacus, lacinia vitae facilisis nec, fringilla ut est. Cras mattis neque a ante aliquam mollis.
         h2 content
         p
          img.alignright(src="https://killing.is-serious.business/9c508e.png" width="300px" height="200px")
         p In lacinia maximus porttitor. Suspendisse sagittis mollis dignissim. Fusce nec sollicitudin sem. Phasellus at feugiat enim, ac vestibulum justo. Sed convallis libero a turpis vulputate convallis nec at dolor. Quisque condimentum pharetra orci ut aliquam. Etiam pulvinar consectetur odio, quis viverra magna tristique sed. Nulla elementum sed ipsum a vehicula. Etiam feugiat, quam faucibus semper porttitor, urna dolor euismod neque, gravida auctor magna risus vitae lacus. Pellentesque luctus est sit amet hendrerit cursus. Sed interdum placerat lacus, in eleifend orci ornare sed. Phasellus elementum libero non leo vehicula tempor. Maecenas sit amet laoreet metus. Vivamus sed pharetra tellus. Ut sit amet ultricies augue. In eu elementum quam.
         p
          img.alignleft(src="https://killing.is-serious.business/505260.png" width="300px" height="200px")
         p Aliquam euismod elementum lectus, a aliquet augue pretium et. Phasellus eget laoreet neque, fermentum vestibulum mi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam tristique massa sapien, eget maximus nisl consequat vitae. Aliquam sollicitudin ante ut auctor vulputate.
     footer
      section.text
        img(src="https://killing.is-serious.business/bdeda6.png")
        ul
          li Daltonstraat 34
          li 3846 BX Harderwijk
          li 0341 412 696
          li Info@Foppen.nl
        p Copyright Foppen All rights reserved
