doctype html
html
  head
    title Foppen
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel="stylesheet" href="/css/index.css")
  body
    div.container
     header.small-header
      img(src="https://killing.is-serious.business/bdeda6.png")
      nav.small-nav
        ul
         li
          a.menu-item-has-children(href="#") Our story
         li
          a(href="#") What we do
         li
          a(href="#") Our icons
         li
          a(href="#") Contact
         li
          a(href="#") Corporate
     section.section-content
       h1 Our Products
       hr
       article.content
         p(style="text-align:center;") In lacinia maximus porttitor. Suspendisse sagittis mollis dignissim. Fusce nec sollicitudin sem. Phasellus at feugiat enim, ac vestibulum justo. Sed convallis libero a turpis vulputate convallis nec at dolor. Quisque condimentum pharetra orci ut aliquam. Etiam pulvinar consectetur odio, quis viverra magna tristique sed. Nulla elementum sed ipsum a vehicula. Etiam feugiat, quam faucibus semper porttitor, urna dolor euismod neque, gravida auctor magna risus vitae lacus. Pellentesque luctus est sit amet hendrerit cursus. Sed interdum placerat lacus, in eleifend orci ornare sed. Phasellus elementum libero non leo vehicula tempor. Maecenas sit amet laoreet metus. Vivamus sed pharetra tellus. Ut sit amet ultricies augue. In eu elementum quam.
         h2 with hr element
         hr
         p Quisque ut posuere nunc, a mollis ante. Nunc maximus porttitor nisi, at rutrum tortor elementum sit amet. Quisque vitae tortor vitae arcu maximus gravida id at augue. Phasellus molestie risus urna, non aliquet dui volutpat ultrices. Sed quam lacus, pretium eu commodo a, cursus at purus. Integer vulputate magna non tellus tempus, sit amet lacinia velit eleifend. Sed eget malesuada nulla, vel dictum urna. Maecenas sed felis ac nibh aliquet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris quis orci dui. Morbi dapibus magna sem, vel condimentum ex tristique eget. Praesent vulputate nunc mi, vitae varius nisl egestas vel.
         h2 without hr element
         p Nullam non nisi placerat odio sollicitudin tincidunt ac a sem. Suspendisse potenti. Nullam congue venenatis mi, et consectetur odio scelerisque ut. Praesent quis purus ultricies, aliquet justo at, volutpat ante. Maecenas sit amet mi quis diam convallis vulputate sed eu magna. Ut eu diam viverra, cursus nunc sed, mattis erat. Nunc finibus, massa pulvinar dictum ultrices, ipsum arcu consectetur libero, hendrerit aliquam nisl sem id justo. Maecenas gravida bibendum nunc, eu interdum massa. Donec tempor leo felis, eu rhoncus nunc convallis a. Maecenas eget lobortis turpis. Pellentesque ullamcorper quis sapien ut malesuada. Fusce eget elit tortor. Etiam ut volutpat eros.
       section.blocks-4.row.row-centered
        div.menu-block.col-lg-2.col-sm-4.col-centered
         img(src="https://killing.is-serious.business/503900.png")
         h3 Salmon
        div.menu-block.col-lg-2.col-sm-4.col-centered
         img(src="https://killing.is-serious.business/503900.png")
         h3 Concepts
        div.menu-block.col-lg-2.col-sm-4.col-centered
         img(src="https://killing.is-serious.business/503900.png")
         h3 Seafood
        div.menu-block.col-lg-2.col-sm-4.col-centered
         img(src="https://killing.is-serious.business/503900.png")
         h3 Smokedfish
       section.sorter
        p alalalala
        p ababalahaha
        p lalabalala
        p alalabahahaha
        p abalabahala
        p lalabahaha
       section.slider
        img(src="https://killing.is-serious.business/503900.png")
        img(src="https://killing.is-serious.business/503900.png")
     footer
      section.text
        img(src="https://killing.is-serious.business/bdeda6.png")
        ul
          li Daltonstraat 34
          li 3846 BX Harderwijk
          li 0341 412 696
          li Info@Foppen.nl
        p Copyright Foppen All rights reserved
