doctype html
html
  head
    title Foppen
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel="stylesheet" href="/css/index.css")
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    //- script(src="https://raw.githubusercontent.com/TriggerRimfire/parallax.js/master/parallax.js")
    script(src="/js/index.js")
  body
    div.container
     header.parallax-window(data-parallax="scroll" data-image-src="https://killing.is-serious.business/c9d5ae.png")
      img(src="https://killing.is-serious.business/bdeda6.png").small-logo
      h1 Product Name
      h3 150g / 200g / 450g
      hr
      p Donec aliquam felis et lacus volutpat, non imperdiet justo condimentum. Nam nec felis non purus lobortis facilisis. In hac habitasse platea dictumst. Morbi sagittis turpis eget neque commodo egestas. In imperdiet dolor vitae libero fermentum bibendum. Ut ut neque convallis, vehicula nisi vel, bibendum lectus. In ut mauris vitae mauris ullamcorper molestie. Morbi ac nulla congue, ultrices mauris vel, luctus diam. Suspendisse bibendum massa non quam mattis aliquam. Sed eget convallis felis. Etiam vel mattis nisl, nec auctor lacus. Quisque euismod id quam non efficitur. Aliquam tempor ut arcu eget facilisis.
     div.table
      img(src="https://killing.is-serious.business/d52d4e.png").product-header
      img(src="https://killing.is-serious.business/f8a598.png")
      nav.small-nav
        ul
         li
          a.menu-item-has-children(href="#") Our story
         li
          a(href="#") What we do
         li
          a(href="#") Our icons
         li
          a(href="#") Contact
         li
          a(href="#") Corporate
     section.section-content
       h1 Our Products
       hr
       article.content
         p(style="text-align:center;") In lacinia maximus porttitor. Suspendisse sagittis mollis dignissim. Fusce nec sollicitudin sem. Phasellus at feugiat enim, ac vestibulum justo. Sed convallis libero a turpis vulputate convallis nec at dolor. Quisque condimentum pharetra orci ut aliquam. Etiam pulvinar consectetur odio, quis viverra magna tristique sed. Nulla elementum sed ipsum a vehicula. Etiam feugiat, quam faucibus semper porttitor, urna dolor euismod neque, gravida auctor magna risus vitae lacus. Pellentesque luctus est sit amet hendrerit cursus. Sed interdum placerat lacus, in eleifend orci ornare sed. Phasellus elementum libero non leo vehicula tempor. Maecenas sit amet laoreet metus. Vivamus sed pharetra tellus. Ut sit amet ultricies augue. In eu elementum quam.
         p
          ul.alignleft
           h3 Cooking
           p To cook: Remove all of the packaging first and then use these cooking instructions as a rough guide only - we're sure you know best.
           li Oven-cook: Place the fillets on a baking tray in the centre of a preheated oven.
           li Fan oven: 170c / Conventional oven: 190c / Gas mark 5 for 20-25 minutes.
           li Grill: Grill under a medium heat for 10-12 minutes.
           li Pan-fry: Fry in little oil over a medium heat for 10-15 minutes.
           li Our sauce is delicious hot or cold. To heat, place the sachet in a cup of boiling water for 1 minute. Careful when you open it.
           p Our sauce is delicious hot or cold. To heat, place the
         p
          ul.alignright
           h3 Ingredients
           p Praesent varius mattis pellentesque. Mauris tincidunt cursus nisi, et ultrices lacus feugiat sit amet. Sed interdum sem ipsum, non rhoncus lorem venenatis et. Aenean vulputate, neque cursus malesuada mollis, lacus ligula tincidunt urna, quis condimentum nisi ante vitae quam. Suspendisse potenti. Praesent vulputate nisi id rhoncus facilisis. Duis convallis nibh ipsum, et cursus nulla faucibus non. Maecenas metus dolor, malesuada quis risus vitae, pretium hendrerit nisl. Aliquam erat volutpat.
           h3 Nutrition
           li Oven-cook: Place the fillets on a baking tray in the centre of a preheated oven.
           li Fan oven: 170c / Conventional oven: 190c / Gas mark 5 for 20-25 minutes.
           li Grill: Grill under a medium heat for 10-12 minutes.
           li Pan-fry: Fry in little oil over a medium heat for 10-15 minutes.
           li Our sauce is delicious hot or cold. To heat, place the sachet in a cup of boiling water for 1 minute. Careful when you open it.
       div.other-products
        img(src="https://killing.is-serious.business/27fa39.png").bg
        section.row.products
          article.col-md-2.col-xs-6
            img(src="https://killing.is-serious.business/505260.png")
            a link link
          article.col-md-2.col-xs-6
            img(src="https://killing.is-serious.business/b0640c.png")
            a link
          article.col-md-2.col-xs-6
            img(src="https://killing.is-serious.business/505260.png")
            a another link
     footer
      section.text
        img(src="https://killing.is-serious.business/bdeda6.png")
        ul
          li Daltonstraat 34
          li 3846 BX Harderwijk
          li 0341 412 696
          li Info@Foppen.nl
        p Copyright Foppen All rights reserved
