doctype html
html
  head
    title Foppen
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel="stylesheet" href="/css/index.css")
  body
    div.container
     header.small-header
      img(src="https://killing.is-serious.business/bdeda6.png")
      nav.small-nav
        ul
         li
          a.menu-item-has-children(href="#") Our story
         li
          a(href="#") What we do
         li
          a(href="#") Our icons
         li
          a(href="#") Contact
         li
          a(href="#") Corporate
     section.section-content
       h1 Recept naam
       hr.givespace
       article.content
         div.white-block.alignright
           h3 h3 text
           hr
           p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed odio elementum, pellentesque ante in, sagittis nibh. Vivamus semper feugiat nibh sit amet molestie. Vivamus ut lobortis risus. Cras lobortis cursus metus, nec gravida mi ullamcorper ut. Mauris at nunc nisi. Nullam vestibulum pulvinar magna vitae euismod. Donec et gravida enim. Ut accumsan sollicitudin leo vitae sollicitudin. Nunc placerat tincidunt neque eleifend tristique. Donec mollis rutrum justo, pharetra dapibus ipsum dignissim vel. Cras facilisis hendrerit nisl, eu semper diam convallis quis. Suspendisse suscipit sed orci et commodo. Nunc rutrum mauris eu nisl pulvinar, a cursus magna bibendum. Mauris vel nisl risus. Quisque et neque in elit fringilla egestas. Mauris ullamcorper est a nulla vestibulum, et convallis sapien commodo. Mauris posuere aliquet ipsum et pulvinar. In hac habitasse platea dictumst. Aliquam sed laoreet elit, ut congue ligula. Proin ut magna sed urna molestie hendrerit. Nunc sed ipsum non turpis sollicitudin pretium eu eu ligula. Pellentesque id venenatis metus, bibendum posuere ex. Vestibulum neque ligula, posuere id porta non, venenatis ut arcu. Aenean vulputate blandit purus, quis dignissim risus vehicula vel. Vivamus tristique ut mauris in blandit. Donec ut eros sed lectus malesuada volutpat sed vel mauris.
         div.alignleft.when-designers-decided-a-list-shouldnt-look-like-a-list-class
          h3 ingredienten
          hr
          ul
            li test
            li test2
            li test
            li test2
            li test
            li test2
          h3 alalala
          hr
          ul
            li more
            li list
            li items
       h1 more recipes
       hr
       section.row.products
         article.col-sm-12.col-md-6.col-lg-4
           div
            img(src="https://killing.is-serious.business/505260.png")
            a link link
         article.col-sm-12.col-md-6.col-lg-4
           div
            img(src="https://killing.is-serious.business/b0620c.png")
            a link
         article.col-sm-12.col-md-6.col-lg-4
           div
            img(src="https://killing.is-serious.business/505260.png")
            a another link
         article.col-sm-12.col-md-6.col-lg-4
           div
            img(src="https://killing.is-serious.business/505260.png")
            a also a link
         article.col-sm-12.col-md-6.col-lg-4
           div
            img(src="https://killing.is-serious.business/505260.png")
            a link link
         article.col-sm-12.col-md-6.col-lg-4
           div
            img(src="https://killing.is-serious.business/b0640c.png")
            a link
     footer
      section.text
        img(src="https://killing.is-serious.business/bdeda6.png")
        ul
          li Daltonstraat 34
          li 3846 BX Harderwijk
          li 0341 412 696
          li Info@Foppen.nl
        p Copyright Foppen All rights reserved
