doctype html
html
  head
    title Foppen
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel="stylesheet" href="/css/index.css")
  body
    div.container
     header.small-header
      img(src="https://killing.is-serious.business/bdeda6.png")
      nav.small-nav
        ul
         li
          a.menu-item-has-children(href="#") Our story
         li
          a(href="#") What we do
         li
          a(href="#") Our icons
         li
          a(href="#") Contact
         li
          a(href="#") Corporate
     section.section-content
       h1 Our recipes
       hr
       div.highlight-block
         article.white-block
           h3 test this h3
           hr
           p test this description alalalalalalala alalalala alalala lalala ababababa ababababa abababa bababa lalalala alalalala ababababa alalala bababalalalaa abalabababa lalalababa
         img(src="https://killing.is-serious.business/20ae60.png")
     footer
      section.text
        img(src="https://killing.is-serious.business/bdeda6.png")
        ul
          li Daltonstraat 34
          li 3846 BX Harderwijk
          li 0341 412 696
          li Info@Foppen.nl
        p Copyright Foppen All rights reserved
