@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body {
  overflow:hidden;
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  min-height:100vh;
  min-width:100vw;
}
section {
float:left;
width:100%;
clear:both;
position: relative;
  div {
    width:25%;
    padding-bottom: 25%;
    float:left;
    position: relative;

    background: rgba(0,0,0, 0.2);
    &:first-child {
      width:50%;
    }
    &:first-child {
      width:50%;
    }
  }
}
canvas {
  position: absolute;
  z-index: -1;
  top:0;
  left:-20px;
}
